body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
h2 {
    color: red;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

td {
    position: relative;
}

td label::before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: 30px;
    color: red;
    padding: 5px;
    border-radius: 3px;
    z-index: 1;
    white-space: nowrap;
}

td:hover label::before {
    display: block;
}


